[Desktop Entry]
Type=Application
Name=StackAndConquer
GenericName=Tower conquest board game
Comment=Challenging tower conquest board game
Icon=com.github.elth0r0.stackandconquer
TryExec=stackandconquer
Exec=stackandconquer %f
Terminal=false
Categories=Game;StrategyGame;
Keywords=Strategy;Tower;Conquest;
