[Desktop Entry]
Type=Application
Name=StackAndConquer
GenericName=Tower conquest board game
Comment=Challenging tower conquest board game
Icon=stackandconquer
TryExec=stackandconquer
Exec=stackandconquer
Terminal=false
Categories=Game;StrategyGame;
Keywords=Strategy;Tower;Conquest;
